body
h1 { border: 3px solid blue; width: 200px; padding-left: 100px; padding-right: 0px  ; border-radius: 20px;
margin-left: 550px;
background-color: aliceblue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(43, 10, 210); font-style: italic;}
table {width: 50%; margin-left: 300px;}
table th {height: 40px;
text-align: center;}
td {text-align: center;}
table th , table td {border: 1px solid black;
border-collapse: collapse; height: 50px; width: 500px;
font-size: 20px;}
table th {background-color: rgb(20, 6, 86); color: rgb(255, 255, 255);
    border-style:none; height: 50px; font-style: italic; font-size: x-large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
table td {background-color: rgba(43, 10, 210, 0.918); color:rgb(243, 242, 246);
    border-style: none; }
table th {
    font-weight: 600;}
table{ border-collapse: collapse;
}
table tr:nth-child(even){background-color: rgb(43, 174, 174);}
table tr:hover {background-color: rgb(1, 4, 9);}
table tr{cursor: pointer;}